@import '../src/scss/themes/theme-dark.scss';
@import '../src/scss/themes/theme-light.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

* {
	font-family: "Cyber", "Raleway";
}

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title-styles {
	font-family: 'Raleway', sans-serif;
	font-size: 150%;
	color: black;
}

header {
	position: relative;
	// height: 87vh;
	height: calc(100vh - 125px);
	min-height: 450px;
	width: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	text-align: center;
	overflow: hidden;
	background-color: #ffff00;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 150px;
}

.header-icon {
	color: black;
	height: 200px;
	width: 200px;
}

header h1 {
	font-size: 340%;
	max-width: 100%;
	text-align: center;
	font-weight: 600 !important;
	color: black;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 0 auto 18px auto;
	width: 100%;
}

header p {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.language-icon {
	font-size: 50px;
	cursor: pointer;
}

.project-date {
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 0px 15px 4px 15px;
	border-top: 1px solid #f3f3f3;
	border-radius: 5px 5px;
	background-color: #f3f3f3;
	color: black;
}

.skills-tile {
	background-color: transparentize(#F8F5F4, 0.95);
	padding: 10px 10px 5px 10px;
	width: 100%;
	margin: 5px 0 5px 0;
	border-radius: 8px;
}

.language {
	font-size: 25px;
	background-color: #ffff00;
	padding-bottom: 10px;
	padding-top: 5px;
}

.slider-image {
	border: 5px solid #1F1F1F;
}

.slider-tab {
	background-color: #1F1F1F;
	height: 25px;
}

.slider-iconfiy {
	margin-top: 10px;
}

.styles_typicalWrapper__1_Uvh::after {
	cursor: none !important;
	display: none;
}

#about {
	background: #e5e5e5;
	overflow: hidden;
}

#about h1 {
	padding-top: 5%;
	font: 45px/50px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: black;
	text-align: center;
}

#about h3 {
	font-family: "Raleway";
	font-size: 21px;
	font-weight: bold;
	line-height: 30px;
}

.foto img {
	display: block;
	width: 100%;
	object-fit: fill;
}

.foto div {
	background: #ffffff;
	display: inline-block;
	margin: 0 auto 5% auto;
	padding: 10px 10px 5px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-webkit-transition: all .20s linear;
	-moz-transition: all .20s linear;
	transition: all .20s linear;
	z-index: 0;
	position: relative;
}

.foto div:after {
	color: #333;
	font-size: 25px;
	content: attr(title);
	position: relative;
	top: 15px;
}

.foto div:hover {
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	transform: scale(1.01);
	z-index: 10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

.project-title-settings {
	margin-top: 5%;
	font: 18px/24px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: black;
	text-align: center;
}

.polaroid {
	cursor: pointer;
}

.polaroid img {
	display: block;
	max-width: 464px;
	height: auto;
}

.polaroid span {
	background: #f3f3f3;
	display: inline-block;
	margin: 55px 75px 30px;
	padding: 15px 15px 30px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-webkit-transition: all .20s linear;
	-moz-transition: all .20s linear;
	transition: all .20s linear;
	z-index: 0;
	position: relative;
}

.polaroid-modal img {
	// max-width: 100vw;
	max-height: 60vh;
}

.polaroid-modal__div {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 0;
  --color: hsl(0, 0%, 100%);
  --font-size: 26px;
  --shadow-primary-hue: 180;
  color: var(--color);
  text-transform: uppercase;
  background: var(--primary);
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  font-weight: 700;
  border: 0;
	width: 100%;
	height: 63px;
  box-shadow: inset -3px 0 0 var(--shadow-primary);
  clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, 10% 110%, -10% 40%);
}

.polaroid-modal__div, .polaroid-modal div {
  font-family: 'Cyber', 'sans-serif';
}

.polaroid-full img {
	width: 70vw;
	height: auto;
}

.link-href {
	color: black;
}

.card {
	background-color: #f3f3f3!important;
}

.wave {
	font-size: 50px;
}

.font-trebuchet {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#preview {
	width: 500px;
	background-color: #ebeaf5;
	padding: 15px;
	position: relative;
	margin-bottom: 15%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#resume {
	background: #ffff00;
}

.modal-inside .modal-content {
	background: #e5e5e5;
}

.modal-content h1, h2 {
	font-family: "Raleway";
	font-weight: bold!important;
}

.modal-close {
	text-align: right;
	padding: 10px 15px 10px 15px;
	cursor: pointer;
}

.close-icon {
	color: black;
	font-weight: lighter !important;
}

.modal-description {
	text-align: center;
	font-size: 17px;
	line-height: 1.7;
	padding: 5px 5px 0 5px;
	margin-bottom: 20px;
}

.awssld__next {
	outline: none !important;
}

.awssld__prev {
	outline: none !important;
}

.loader-bar-color {
	color: black !important;
}

.experience-icon {
	font-size: 300%;
	margin-top: 25%;
	text-align: center;
}

.main-badge {
	font-size: 13.5px !important;
	text-align: left !important;
	padding: 5px 8px 5px 8px !important;
	vertical-align: baseline;
	background-color: #F20544 !important;
	color: white;
	font-weight: 900 !important;
	font-family: 'Raleway', 'Times New Roman', serif;
}

.experience-badge {
	font-size: 12.5px !important;
	text-align: left !important;
	padding: 5px 8px 5px 8px !important;
	vertical-align: baseline;
	background-color: #e5e5e5 !important;
	color: black;
	font-weight: 700 !important;
	font-family: 'Raleway', 'Times New Roman', serif;
}

.badge-pill {
	border-radius: 3px!important;
}

.vertical-timeline-element-date {
	padding: 0 !important;
	margin: 0 !important;
}

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}

.bars .skills {
	margin-top: 36px;
	list-style: none;
}

.bars li {
	position: relative;
	margin-bottom: 60px;
	background: #ccc;
	height: 42px;
	border-radius: 3px;
}

.bars li em {
	font: 15px 'opensans-bold', sans-serif;
	color: #313131;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	top: -36px;
}

.bar-expand {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding-right: 24px;
	background: #313131;
	display: inline-block;
	height: 42px;
	line-height: 42px;
	border-radius: 3px 0 0 3px;
}

#portfolio {
	background: #ffff00;
	padding-bottom: 5%;
}

.portfolio-item {
	max-width: 100%;
	margin-bottom: 15px;
	text-align: center;
}

.portfolio .portfolio-item .portfolio-item-caption {
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
	opacity: 0;
	background-color: rgba(51, 51, 51, 0.9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
	opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
	font-size: 1.5rem;
}

.section-title {
	padding-top: 5%;
	padding-bottom: 2%;
	font: 45px/50px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #fff;
	text-align: center;
}

#skills {
	background: #1F1F1F;
	min-height: 200px;
	width: 100%;
	overflow: hidden;
	// padding-bottom: 5%;
	color: white;
}

.skills-lists {
	padding-bottom: 20px;
}

.skill-icon {
	color: white;
	text-align: center;
	position: relative;
}

.skillsEssentials, .skillsVersion {
	font-size: 200%;
}

.skillsMern {
	font-size: 300%;
}

.skillsPlus {
	padding-bottom: 5%;
}

footer {
	background: #1F1F1F;
	min-height: 100px;
	width: 100%;
	overflow: hidden;
	font-size: 14px;
	color: white;
	position: relative;
	text-align: center;
}

footer a,
footer a:visited {
	color: #fff;
}

footer a:hover,
footer a:focus {
	color: #fff;
}

.social-links {
	margin-top: 20px;
	font-size: 50px;
}

.copyright {
	font-size: 20px;
}

.more-about p {
	font-family: 'Raleway';
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	padding-bottom: 10px;
}

.more-about strong {
	font-size: 21px;
	font-family: 'Raleway';
	font-size: 16px;
	font-weight: 1500;
	letter-spacing: 1px;
}

@media only screen and (max-width: 1170px) {
	.experience-icon {
		font-size: 170%;
		margin-top: 27%;
		text-align: center;
	}
	// .polaroid-modal img {
  //   height: 90vh;
	// }
	.polaroid-modal img {
    max-height: 50vh;
	}
}

@media only screen and (max-width: 1367px) {
	.polaroid-modal img {
    max-height: 45vh;
	}
}

@media (min-width: 576px) {
	.portfolio .closeButtonResponsive {
		display: block;
	}
	.portfolio .portfolio-item {
		margin-bottom: 30px;
	}

	.modal-xl {
		max-width: 70vw!important;
	}
}

@media (max-width: 576px) {
	.polaroid-modal img {
    max-height: 30vh;
	}
}

@media only screen and (max-width: 480px) {
	// header {
	// 	height: 82vh;
	// }
	.header-icon {
		height: 150px;
		width: 150px;
	}

  header h1 {
    font-size: 215%;
	}

	.title-styles {
		font-size: 90%;
	}

	.polaroid-modal img {
    max-height: 30vh;
	}
}

// @media only screen and (max-width: 450px) {
// 	header {
// 		height: 83vh;
// 	}
// }

// @media only screen and (max-width: 320px) {
// 	header {
// 		height: 72vh;
// 	}
// }